.sidebar {
  z-index: 1000;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.3s ease;
  position: relative;
}

.header {
  .iconContainer {
    width: 100%;
    justify-content: flex-start;
  }
}
@media (max-width: 768px) {
  .sidebar {
    position: absolute !important;
  }
  .header {
    .iconContainer {
      justify-content: space-between !important;
    }
  }
}
